**/node_modules/
**/node_modules_old/
**/.env*
**/*.txt
**/*.log
**/coverage/
**/.temp/
.github/
.husky/
.vscode/
dist/
build/
.next/
.expo/
*.tsbuildinfo
pnpm-debug.log

# Ignore env files in subfolders
frontend/mobile/.env

# Ignore PDF research exports in docs
docs/*.pdf