-- USERS TABLE
create table users (
  id uuid references auth.users on delete cascade primary key,
  full_name text not null,
  phone text unique not null,
  role text check (role in ('farmer', 'buyer', 'admin')) default 'farmer',
  state text,
  district text,
  village text,
  created_at timestamptz default now()
);

-- FARMS TABLE
create table farms (
  id uuid primary key default gen_random_uuid(),
  user_id uuid references users(id) on delete cascade,
  farm_name text,
  area_acres numeric,
  soil_type text,
  location_lat numeric,
  location_lng numeric,
  created_at timestamptz default now()
);

-- CROPS TABLE
create table crops (
  id uuid primary key default gen_random_uuid(),
  farm_id uuid references farms(id) on delete cascade,
  crop_name text not null,
  sowing_date date,
  expected_harvest date,
  status text check (status in ('growing','harvested','failed')) default 'growing',
  created_at timestamptz default now()
);

-- MARKET PRICES TABLE
create table market_prices (
  id uuid primary key default gen_random_uuid(),
  crop_name text not null,
  price_per_kg numeric not null,
  market_name text,
  state text,
  recorded_at timestamptz default now()
);

-- GOVT SCHEMES TABLE
create table govt_schemes (
  id uuid primary key default gen_random_uuid(),
  title text not null,
  description text,
  eligibility text,
  benefit_amount numeric,
  last_date date,
  state text,
  source_url text,
  created_at timestamptz default now()
);

-- ENABLE RLS ON ALL TABLES
alter table users enable row level security;
alter table farms enable row level security;
alter table crops enable row level security;
alter table market_prices enable row level security;
alter table govt_schemes enable row level security;

-- POLICIES
create policy "Users can view own profile"
  on users for select using (auth.uid() = id);

create policy "Users can update own profile"
  on users for update using (auth.uid() = id);

create policy "Farmers manage own farms"
  on farms for all using (auth.uid() = user_id);

create policy "Farmers manage own crops"
  on crops for all using (
    auth.uid() = (select user_id from farms where id = crops.farm_id)
  );

create policy "Anyone can view market prices"
  on market_prices for select using (true);

create policy "Anyone can view schemes"
  on govt_schemes for select using (true);
